<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("index",decode($parameter))}'>短信列表</a></li>
        <li class="active">短信配置</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form action="" method="post" id="myform" name="myform" onsubmit="return false">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 账号：</div>
                        </td>
                        <td>
                            <input class="form-control" id="accout" name="accout" value="{$data.accout}" type="text" placeholder="请输入账号">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 密码：</div>
                        </td>
                        <td>
                            <input class="form-control" id="password" name="password" value="{$data.password}" type="text" placeholder="请输入密码">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 请求地址：</div>
                        </td>
                        <td>
                            <input class="form-control" id="target" name="target" value="{$data.target}" type="text" placeholder="请输入请求地址">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">验证码长度：</div>
                        </td>
                        <td>
                            <input class="form-control" id="codelength" name="codelength" value="{$data.codelength}" type="text" placeholder="请输入验证码长度">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">类型：</div>
                        </td>
                        <td>
                            <select name="type" class="form-control">
                                <option value="0"  <eq name="data.type" value="0">selected="selected"</eq>>字母+数字</option>
                                <option value="1"  <eq name="data.type" value="1">selected="selected"</eq>>数字</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">提供商：</div>
                        </td>
                        <td>
                            <input class="form-control" id="applyname" name="applyname" value="{$data.applyname}" type="text" placeholder="请输入提供商">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">提供商网址：</div>
                        </td>
                        <td>
                            <input class="form-control" id="applyurl" name="applyurl" value="{$data.applyurl}" type="applyurl" placeholder="请输入提供商网址">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">短信模板：</div>
                        </td>
                        <td>
                            <textarea name="content" class="form-control" cols="30" rows="3" placeholder="请输入短信模板">{$data.content}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">状态：</div>
                        </td>
                        <td>
                            <select name="status" class="form-control">
                                <option value="1" <eq name="data.status" value="1">selected="selected"</eq>>开启</option>
                                <option value="0" <eq name="data.status" value="0">selected="selected"</eq>>关闭</option>
                            </select>
                        </td>
                    </tr>
                    <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/messagetest",session("uid")) eq 1'>
                        <tr>
                            <td class="td_add_edit">
                                <div class="text-right">短信测试：</div>
                            </td>
                            <td>
                                <input class="form-control" style="display: inline-block;width:50%" id="ceshi" name="ceshi" value="" type="text" placeholder="请输入测试手机"> <input class="btn btn-w-m btn-success" value="获取验证码" type="button" id="ceshibutton" onclick='sendCode("{:U("messagetest")}","#ceshi","#ceshibutton");' style="position: relative;top:-3px">
                            </td>
                        </tr>
                    </if>
                </tbody>
            </table>
        </div>
        <div class="blank15"></div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("setmessage")}","#myform")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">
            <i class="fa fa-chevron-circle-left"></i> 返回
        </button>
        <input type="hidden" name="parameter" value="{$parameter}">
        <input type="hidden" name='id' value="{$data.id}" />
    </form>
</div>
<script src="__PUBLIC__/js/mobile_code.js" type="text/javascript"></script>