<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>胡旭明 - 晴风战队专业分析师</title>
<meta name="keywords" content="胡旭明 - 晴风战队专业分析师">
<meta name="description" content="胡旭明 - 晴风战队专业分析师">
<include file="Public:headcommon" />
</head>
<body>
<div class="warp services-team">
	<include file="Public:head" />

    <div class="s-team-main">
        <include file="Public:teaminc" />
        <div class="s-team-m-expert">
            <div class="s-team-m-e-box">
                <div class="s-team-m-e-detail s-team-m-e-d-wrapcon">
                    <div class="s-team-m-e-d-viewcon ">
                        <div class="lef expert-img01"><img src="__NEW__/images/teacherhxm.png" alt=""></div>
                        <div class="rig">
                            <h3>胡旭明</h3>
                            <span class="zw">顶点财经 ▪ 晴风战队</span>
                            <h2>个人简介</h2>
                            <P>
                                2010年开始进入黄金、外汇、股指、期货、市场，国际注册高级金融分析师，精研道氏理论、艾略特波浪理论、江恩时空理论、菲波纳奇等理论，结合技术指标、形态分析、价量关系、主力博弈思维，破解主力操纵价格的密码，对价格预测、时机抉择和资金管理有独到的见解，主要战法《三维一体战法》、《指标共振战法》、《对冲战法》等。
                            </P>
                            <p><strong>投资名言：</strong>从基本面、技术面、资金面来分析行情，寻找商机。</p>
                            <p><strong>战法介绍：</strong>三维一体战法融合道氏理论、艾略特波浪理论、菲波纳奇理论、江恩时空理论等的思想，从趋势、位置、形态等维度来分析行情,在实战中总结出来的一套战法。</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="s-team-m-list">
            <h2>三维一体战法 ▪ 战法演示</h2>
        </div>
        <div class="warp home">
            <div class="mainwarp">
                <div class="main-about">
                    <div class="m-a-list">
                        <a class="arrow-left list-arwleft" href="javascript:void(0);"></a>
                        <a class="arrow-right list-arwright" href="javascript:void(0);"></a>
                        <div class="swiper-container m-a-l-container">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea4_bar1.png" alt="胡旭明 ▪ 三维一体战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">胡旭明 ▪ 三维一体战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>均价格未破趋势线，回调或反弹后沿原方向入场。上升趋势行情中，等待回调，出现上涨确认信号后，入场做多；下跌趋势行情中，等待反弹，出现下跌确认信号后，入场做空。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>1</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea4_bar2.png" alt="胡旭明 ▪ 三维一体战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">胡旭明 ▪ 三维一体战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>当趋势越来越弱时，转换成反转思维上升行情中，当趋势转弱时，出现下图的形态，B点高于A点，采用跌破E点入场做空或反弹做空的策略。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>2</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea4_bar3.png" alt="胡旭明 ▪ 三维一体战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">胡旭明 ▪ 三维一体战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>上升行情中，当趋势转弱时，出现下图的形态，B点等于A点，采用跌破CD延长线入场做空或反弹做空的策略。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>3</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea4_bar4.png" alt="胡旭明 ▪ 三维一体战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">胡旭明 ▪ 三维一体战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>当趋势越来越弱时，转换成反转思维上升行情中，当趋势转弱时，出现下图的形态，B点高于A点，采用跌破E点入场做空或反弹做空的策略。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>4</em></i>
                                    </div>
                                </div>

                            </div>
                            <div class="pagination hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-team-m-cp">
            <h2>流水战法 ▪ 战绩介绍</h2>
            <div class="s-team-m-cp-mid">
                <div id="zhanji" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__NEW__/picture/tea4_score1.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/tea4_score2.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/tea4_score3.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/tea4_score4.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/tea4_score5.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination" style="bottom: 8px;"></div>
                </div>
            </div>
            <style>
                .swiper-container {
                    width: 100%;
                    height: 100%;
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    height: 380px;
                }
                .swiper-pagination-bullet{
                    height: 15px;
                    width: 15px;
                }
            </style>
            <div class="s-team-m-cp-bto">
                <p>三维一体战法融合道氏理论、艾略特波浪理论、菲波纳奇理论、江恩时空理论等的思想，从趋势、位置、形态等维度来分析行情,在实战中总结出来的一套战法。</p>
            </div>
        </div>
        <include file="Public:teacherlist" />
    </div>
<include file="Public:foot" />
</html>
