<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>喵喵财经投资</title>
    <link rel="stylesheet" href="__CSS__/index.css">
    <script src="__JS__/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__JQUERY__/jquery.form.js"></script>
    <script src="__JQUERY__/layer/layer.js"></script>
</head>
<body>
    <div class="box-content">
        <div class="banner">
            <img src="__IMG__/banner-03.png" alt="图片">
        </div>
        <div class="middle">
            <div class="header">
                <a href="http://zhibo.cnzzcf.com"><div class="logo">
                </div></a>
                <div class="company_name">
                    <p style="margin-top:3px">金融投资领导品牌</p>
                    <p>海南大宗商品交易中心</p>
                </div>
                <div class="telephone">
                    0571-88760381
                </div>
                <span class="invest">立即投资</span>
            </div>
            <div class="content">
                <div class="six-vantage">
                    <h1><span>大宗商品，</span>自己做老板，让钱包鼓起来</h1>
                    <h2>大宗商品投资6大优势</h2>
                    <ul>
                      <li>
                          <p>双向灵活交易</p>
                          <p>买涨买跌反复交易</p>
                          <p>交易风险可控</p>
                      </li>
                      <li>
                          <p>22小时交易</p>
                          <p>22小时连续</p>
                          <p>双向交易</p>
                      </li>
                      <li>
                          <p>银行专户结算</p>
                          <p>六大签约银行监管</p>
                          <p>安全无忧</p>
                      </li>
                      <li>
                          <p>资金利用率高</p>
                          <p>保证金交易</p>
                          <p>提高资金利用率</p>
                      </li>
                      <li>
                          <p>同步国际价格</p>
                          <p>与国际价格接轨</p>
                          <p>22小时交易</p>
                      </li>
                      <li>
                          <p>手机交易</p>
                          <p>一部手机</p>
                          <p>联通世界金融</p>
                      </li>
                    </ul>
                </div>  
                <div class="night">
                    <ul class="top">
                        <li>别人在看电视，你在看大盘</li>
                        <li>别人花钱打游戏，你操盘赚外快</li>
                        <li>别人抱怨工资少，你悄悄变土豪</li>
                    </ul>
                    <h1>晚上是大宗商品交易的黄金时段</h1>
                    <ul class="night-middle">
                        <li>
                            <p><span class="one-step">A</span>每天行情空间最大时段</p>
                            <p>北京时间<span class="discolor">每天晚上8点到11点间，是欧洲及美国等国家重要经济数据集中公布时段</span>，也是欧洲市场和美洲市场叠加的时段，因此成为<span class="discolor">每天交易量最大、最活跃的时段</span>，市场波动较其它时间更大，行情空间也更大。</p>
                        </li>
                        <li>
                            <p><span class="one-step">B</span>非农及美联储议息等大行情集中时段</p>
                            <h4>每个月的非农 行情波动空间大</h4> 
                            <p>非农数据公布时间为北京时间每月第一个周五的晚上八点半或九点半</p>
                            <h4 class="gao">美联储议息 大宗商品前后波动剧烈 </h4>
                            <p>美联储议息会议声明公布时间集中在北京时间凌晨2点或3点</p>
                        </li>
                    </ul>
                    <h2>立即开启财富倍增之旅</h2>
                    <div class="dredge_account">
                        <p>低成本开启财富之旅</p>
                        <input class="dredge_btn" type="button" value="立即开户">
                    </div>
                    <div class="mock_account">
                        <p>无风险模拟实战</p>
                        <input class="mock_btn" type="button" value="开立模拟账户">
                    </div>
                </div>
                <div class="triple_step">
                    <div class="step_header">
                        <h1>没做过大宗商品投资？</h1>
                    </div>
                    <div class="step_content">
                        <div class="first-step">
                             <p><span class="one-step">1</span>开立模拟账户，享受老师指导，无风险模拟实战</p>
                             <img src="__IMG__/first-step.png" alt="图片">
                             <p class="first-bottom">
                                 <span>免费开户</span>
                                 <span>10万美元账户</span>
                                 <span>PC端手机端交易</span>
                                 <span>等同真实交易</span>
                             </p>
                        </div>
                        <div class="two-step">
                             <p><span class="one-step">2</span>多媒体多角度随时随地，跟老师学习投资技巧</p>
                             <div class="two-body">
                                <div class="body-left">
                                    <h2>专业老师在线教学</h2>
                                    <p>
                                        <span>实盘操作策略 </span>
                                        <span>实盘技术分析</span>
                                    </p>
                                    <p>
                                        <span>实时研究报告</span>
                                        <span>实时数据解读</span>
                                    </p>
                                </div>
                                <div class="body-right">
                                    <h2>对话世界投资大师</h2>
                                    <p>
                                        <span>喵喵财经高端论坛 </span>
                                        <span>洞察创富良机</span>
                                    </p>
                                    <p>
                                        <span>把脉环球经济</span>
                                        <span>实时数据解读</span>
                                    </p>                                    
                                </div>
                             </div>
                        </div>
                        <div class="three-step">
                            <p><span class="one-step">3</span>建立自己的成熟稳定投资体系，开启财富之旅</p>
                            <div class="third">
                                <div class="third-left">
                                    <ul>
                                        <li>优选交易平台</li>
                                        <li>捕捉最佳机会</li>
                                        <li>>急速精准下单</li>
                                        <li>赚尽行情波段</li>
                                    </ul>
                                </div>
                                <div class="third-right">
                                  <ul>
                                    <li>随时把握投资机会</li>
                                    <li>>服务随时随地</li>
                                    <li>>投资占尽先机</li>
                                    <li>>助您瞬间获利</li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="triple_btn1" type="button" value="开立模拟账户">
                    <input class="triple_btn2" type="button" value="开立真实账户">
                </div>
                <div class="content-footer">
                    <p class="opportunity">国际资本巨鳄、金融富豪已经瞄准时机！</p>
                    <div class="yiqu-letter">
                        <ul>
                            <li><span>01</span>官方资质</li>
                            <li><span>02</span>资金安全</li>
                            <li><span>03</span>名师指导</li>
                            <li><span>04</span>优惠活动</li>
                            <li><p>海南大宗商品平台，正规授权</p>

                                <p>可靠的贵金属投资平台</p>

                                <p>合法运营资质</p>
                            </li>
                            <li><p>签约合作银行</p>

                                <p>建行、农行、平安银行</p>

                                <p>账户资金安全，自由出入金</p>
                            </li>
                            <li><p>特邀名师，坐镇指导</p>

                                <p>每月免费开讲</p>

                                <p>技术指导与风险管理指导</p>
                            </li>
                            <li><p>每月惊喜活动享不停</p>

                                <p>大额油卡、现金返利</p>

                                <p>大幅降低交易成本</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <img class="bottom_img" src="__IMG__/bottom_img.png">
            <div class="footer-body">
                <div class="left">
                    <span></span>
                    <span>0571-88760381</span>
                    <span>投资有风险·入市须谨慎</span>
                    <p>{:C("BASE_COPYRIGHT")}</p>
                </div>
                <div class="right">
                    <div class="scan">
                        <p>扫描关注公众号
                            <img src="__IMG__/arrows.png" alt="图片">
                        </p>
                        <p>免费赠送投资宝典</p>
                    </div>
                    <div class="dimension-code">
                        <img src="__IMG__/two-dimension_code.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal"></div>
    <form name="form2" id="regForm" class="form-inline">
    <div class="frame">
        <div class="frame-header">
            <h3>提交信息</h3>
            <span class="close">×</span>
        </div>
        <div class="content-inp">
            <input id="initials2" placeholder="输入姓名" type="text" name="name">
            <input id="phone2"  placeholder="输入手机号码" type="text" name="tel">
            <input  id="inp-code2" class="inp-code" placeholder="输入验证码" type="text" name="code">
            <!-- <span id="get-code2"  class="get-code" onclick='sendCode($("#phone2").val())'>获取验证码</span> -->
            <input type="button" id="get-code2"  class="get-code" style="padding-left: 0;" onclick='sendCode($("#phone2").val())' value="获取验证码" />
            <div class="clear"></div>
            <div id="bottom_submit_btn" class="remit" onclick="checkRegister()">免费查询</div>
            <input type="hidden" name="source" value="大宗商品专题" />
        </div>
        <div class="frame-footer">
            <h1>实盘开户立享2重好礼</h1>
            <p>1：尊享专业分析老师<span>一对一指导投资 !</span></p>
            <p>2：开户交易即可<span>享四重注册大礼包 !</span></p>
        </div>
    </div>
    </form>
</body>
<!--register-->
<script>
var iTime = 59;
var Account;
//控制时间
function RemainTime(buttonDom){
    $(buttonDom).prop('disabled', true);
    var iSecond,sSecond="",sTime="";
    if (iTime >= 0){
        iSecond = parseInt(iTime%60);
        iMinute = parseInt(iTime/60)
        if (iSecond >= 0){
            if(iMinute>0){
                sSecond = iMinute + "分" + iSecond + "秒";
            }else{
                sSecond = iSecond + "秒";
            }
        }
        sTime=sSecond;
        if(iTime==0){
            clearTimeout(Account);
            sTime='发送验证码';
            iTime = 59;
            $(buttonDom).prop('disabled', false);
        }else{
            Account = setTimeout("RemainTime('"+buttonDom+"')",1000);
            iTime=iTime-1;
        }
    }else{
        sTime='没有倒计时';
    }
    $(buttonDom).val(sTime);
}

/**
 * [telsendyz 获取手机验证码]
 * @param  {[type]} a [description]
 * @return {[type]}   [description]
 */
function sendCode(a){
    if(a == "" || a == '请输入您的手机号码'){
        layer.msg('请先输入手机号码！',{icon: 0});
        $('#regTel').focus();
        return false;
    } else if(!/1[345678]{1}\d{9}$/.test(a)){
        layer.msg('手机格式不正确！',{icon: 0});
        $('#regTel').focus();
        return false;
    } else{
        $.ajax({
            type:"POST",
            dataType:"json",
            data:{mobile:a,source:'大宗商品专题验证码'},
            url:"{:U('Common/getMessage')}",
            success:function(data){
                if(data.status){
                    RemainTime('#get-code2');
                } else {
                    layer.msg(data.info,{icon: 0});
                }
            }
        });
    }
}

/**
 * [checkRegister 验证注册]
 * @return {[type]} [description]
 */
function checkRegister() {
    var initials2 = $('#initials2');
    var phone2 = $('#phone2');
    var inpcode2 = $('#inp-code2');

    if(initials2.val() == ''){
        layer.msg('请输入姓名！',{icon: 0});
        initials2.focus();
        return false;
    }
    if(phone2.val() == '' ){
        layer.msg('请输入手机号！',{icon: 0});
        phone2.focus();
        return false;
    }
    if(!/1[345678]{1}\d{9}$/.test(phone2.val())){
        layer.msg('手机格式不正确！',{icon: 0});
        phone2.focus();
        return false;
    }
    if(inpcode2.val() == ''){
        layer.msg('请输入验证码！',{icon: 0});
        inpcode2.focus();
        return false;
    }

    //开始注册
    $.post("{:U('Openaccount')}", $("#regForm").serialize(), function(data, textStatus, xhr) {
        //弹出消息
        if(data.status){
            layer.msg(data.info,{icon:6,time:2000,shade: [0.3,'#000']},function(){
                if(data.url){
                    location.href = data.url;
                } else {
                    location.reload();
                }
            });
        } else {
            layer.open({
                content:data.info,
                yes:function(index){
                    if(data.url){
                        location.href = data.url;
                    } else {
                        layer.close(index);
                    }
                },
                icon:2
            });
        }
    });
}
</script>
<script>
    $('.invest').click(function(){
        $(".modal").show();
        $('.frame').show();
    });
    $('.dredge_btn').click(function(){
        $(".modal").show();
        $('.frame').show();
    });
    $('.mock_btn').click(function(){
        $(".modal").show();
        $('.frame').show();
    });
    $('.triple_btn1').click(function(){
        $(".modal").show();
        $('.frame').show();
    });
    $('.triple_btn2').click(function(){
        $(".modal").show();
        $('.frame').show();
    });
    $('.close').click(function(){
        $('.frame').hide();
        $(".modal").hide();
    });
</script>
</html>