<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>朱亮 - 突破者战队专业分析师</title>
<meta name="keywords" content="朱亮 - 突破者战队专业分析师">
<meta name="description" content="朱亮 - 突破者战队专业分析师">
<include file="Public:headcommon" />
</head>
<body>
<div class="warp services-team">
	<include file="Public:head" />

    <div class="s-team-main">
        <include file="Public:teaminc" />
        <div class="s-team-m-expert">
            <div class="s-team-m-e-box">
                <div class="s-team-m-e-detail s-team-m-e-d-wrapcon">
                    <div class="s-team-m-e-d-viewcon ">
                        <div class="lef expert-img01"><img src="__NEW__/images/teacherzl.png" alt=""></div>
                        <div class="rig">
                            <h3>朱亮</h3>
                            <span class="zw">顶点财经 ▪ 突破者战队</span>
                            <h2>个人简介</h2>
                            <P>
                                从事股票、期货、黄金、外汇十多年，在市场的风雨中磨炼出一套属于自己的交易理念与交易系统。 
                            </P>
                            <p>毕业于香港财经大学金融系，主修世界经济投资与发展，对宏观经济与微观经济有深入研究！</p>
                            <p>曾任杭州知名私募公司顶级操盘手，主职：设计操盘架构，布局整体趋势，并撰写四大纪律，擅长技术行情底部挖黄金坑与技术破位洗盘。</p>
                            <p>2010—2013间是宁波敢死队一员，参与多只股票的拉升与砸盘！</p>
                            <p>自创《流水战法》，战法吸收了，提炼了各大理论，各大法则的精髓与精华。融合了三大分析法【《基本分析法》、《技术分析法》、《演化分析法》】，结合物极必反的自然规律【生成—成长—疯狂—衰退】，加上人的心里、情绪、行为，多方位出击，知己知彼百战不殆！</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="s-team-m-list">
            <h2>流水战法 ▪ 战法演示</h2>
        </div>
        <div class="warp home">
            <div class="mainwarp">
                <div class="main-about">
                    <div class="m-a-list">
                        <a class="arrow-left list-arwleft" href="javascript:void(0);"></a>
                        <a class="arrow-right list-arwright" href="javascript:void(0);"></a>
                        <div class="swiper-container m-a-l-container">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/li-1.jpg" alt="朱亮 ▪ 流水战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">朱亮 ▪ 流水战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>均线的排列就像河流的方向，从涓涓细流到长江大浪，成喇叭状放大！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>1</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/li-2.jpg" alt="朱亮 ▪ 流水战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">朱亮 ▪ 流水战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>K线价格就像波浪，沿着河流起伏上下、由小到大 、翻滚前进！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>2</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/li-3.jpg" alt="朱亮 ▪ 流水战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">朱亮 ▪ 流水战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>均线一旦粘合发散会助推价格，对价格形成支撑与压力。均线有：支撑、阻力、引力三种功能，通常是线上多、线下空，乖离过远可以做反手！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>3</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/li-4.jpg" alt="朱亮 ▪ 流水战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">朱亮 ▪ 流水战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>年线、季线、月线、周线、日线、小时线，大周期会约束小周期，小周期会改变当下的走势。每个周期都有自己的生命过程，有生命就离不开物极必反的自然规律【生成--成长--疯狂--衰退】。K线的实体由小变大再变小，周而复始的演变着！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>4</em></i>
                                    </div>
                                </div>

                            </div>
                            <div class="pagination hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-team-m-cp">
            <h2>流水战法 ▪ 战绩介绍</h2>
            <div class="s-team-m-cp-mid">
                <div id="zhanji" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__NEW__/picture/li-5.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination" style="bottom: 8px;"></div>
                </div>
            </div>
            <style>
                .swiper-container {
                    width: 100%;
                    height: 100%;
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    height: 380px;
                }
                .swiper-pagination-bullet{
                    height: 15px;
                    width: 15px;
                }
            </style>
            <div class="s-team-m-cp-bto">
                <p>操盘格言，看大做小，顺势而为，严格执行纪律，严把风控，安全第一！<br>基本面是地基根基，技术面是高楼大厦。想要盖得又高又大，形状美丽大方，就需要地基的支撑与配合。</p>
            </div>
        </div>
        <include file="Public:teacherlist" />
    </div>
<include file="Public:foot" />
</html>
