<include file="Public:head_iframe" />
<body class="gray-bg">
    <div id="breadcrumb">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
            <li class="active">清除缓存</li>
            <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
        </ol>
    </div>
    <div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-trash-o"></i> 清除緩存</h5>
                    </div>
                    <div class="ibox-content">
                        <form name="myform" id="myform" method="post" onsubmit="return false">
                            <div class="result-content">
                                 <div style="text-align:center;padding:10px">
                                     <div  style="padding:20px;font-size:20px">
                                         你将清除系统里的所有缓存，点击以下按钮继续清除！
                                     </div>
                                     <input class="btn btn-success" value="清除缓存" type="submit" onclick='submitForm("{:U("index")}","#myform")'>
                                 </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>