<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>邱麒麟 - 专业分析师</title>
<meta name="keywords" content="邱麒麟 - 专业分析师">
<meta name="description" content="邱麒麟 - 专业分析师">
<include file="Public:headcommon" />
</head>
<body>
<div class="warp services-team">
	<include file="Public:head" />

    <div class="s-team-main">
        <include file="Public:teaminc" />
        <div class="s-team-m-expert">
            <div class="s-team-m-e-box">
                <div class="s-team-m-e-detail s-team-m-e-d-wrapcon">
                    <div class="s-team-m-e-d-viewcon ">
                        <div class="lef expert-img01"><img src="__NEW__/images/teacherqql.png" alt=""></div>
                        <div class="rig">
                            <h3>邱麒麟（特约市场评论员）</h3>
                            <span class="zw">顶点财经 ▪ 王者战队</span>
                            <h2>个人简介</h2>
                            <P>
                                毕业于The University of Ohio. 获得金融与电子商务双学位。大学在读时便在某基金公司实习，毕业后前往华尔街担任BridgeWater对冲基金的基金经理。善于价值投资，在道氏理论趋势方面有独到研究。管理几千万美金，利用趋势交易，每月盈利稳定在20%-30%,任职5年后回国担任某证券的首席分析师。
                            </P>
                            <p>擅长基于宏观经济、基本面的分析，以及其独特的技术面分析，在没有大涨之前抓到牛股，从而获利颇丰！</p>
                            <p>自创《擒牛战法》法，往往能够抓到热点龙头，屡试不爽。早时13年的成飞集成，近有特立A、洛阳玻璃等妖股。把快、狠、准的理念发挥的淋漓尽致，不出手则已，一出手必有大肉。</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="s-team-m-list">
            <h2>擒牛战法 ▪ 战法演示</h2>
        </div>
        <div class="warp home">
            <div class="mainwarp">
                <div class="main-about">
                    <div class="m-a-list">
                        <a class="arrow-left list-arwleft" href="javascript:void(0);"></a>
                        <a class="arrow-right list-arwright" href="javascript:void(0);"></a>
                        <div class="swiper-container m-a-l-container">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/shen-1.jpg" alt="邱麒麟 ▪ 擒牛战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">邱麒麟 ▪ 擒牛战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>《擒牛战法》分为3类，分别是《超跌反弹》《强势股回调》《跟庄潜伏》。不同的方法适用于不同的行情，想要对症下药，必先熟练各个战法。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>1</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/shen-2.jpg" alt="邱麒麟 ▪ 擒牛战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">《超跌反弹》顾名思义：跌得太多，该反弹了！</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>超跌反弹适用于大部分的股票，不管在什么价位，只要是没有反弹的持续阴跌60%，就符合要求。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>2</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/shen-3.jpg" alt="邱麒麟 ▪ 擒牛战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">邱麒麟 ▪ 擒牛战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>《强势股反弹》最难把握的就是选牛股，一般为连续3天以上，实体阳线涨停的板块龙头股、妖股。而对于介入点，一般第三个跌停板就可建仓。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>3</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/shen-4.jpg" alt="邱麒麟 ▪ 擒牛战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">邱麒麟 ▪ 擒牛战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>《跟庄潜伏》基于量价分析，判断有无庄家，在庄家打压之时进场，潜伏其中。随后耐性等待庄家拉升。</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>4</em></i>
                                    </div>
                                </div>

                            </div>
                            <div class="pagination hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-team-m-cp">
            <h2>擒牛战法 ▪ 战绩介绍</h2>
            <div class="s-team-m-cp-mid">
                <div id="zhanji" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__NEW__/picture/shen-1.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/shen-2.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/shen-3.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/shen-4.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination" style="bottom: 8px;"></div>
                </div>
            </div>
            <style>
                .swiper-container {
                    width: 100%;
                    height: 100%;
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    height: 380px;
                }
                .swiper-pagination-bullet{
                    height: 15px;
                    width: 15px;
                }
            </style>
            <div class="s-team-m-cp-bto">
                <p>擅长基于宏观经济、基本面的分析，以及其独特的技术面分析，在没有大涨之前抓到牛股，从而获利颇丰！</p>
            </div>
        </div>
        <include file="Public:teacherlist" />
    </div>
<include file="Public:foot" />
</html>
