<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("index",decode($parameter))}'>管理员管理</a></li>
        <li class="active">编辑管理员</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form action="" method="post" id="myform" name="myform" onsubmit="return false">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 名称：</div>
                        </td>
                        <td>
                            <input class="form-control" id="name" name="name" value="{$data.name}" type="text" placeholder="请输入名称">
                            <div class="help-block">例如：默认站点</div>
                        </td>
                    </tr>
                     <tr>
                        <td class="td_add_edit">
                            <div class="text-right">域名：</div>
                        </td>
                        <td>
                            <input class="form-control" id="url" name="url" value="{$data.url}" type="text" placeholder="请输入域名">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">WAP域名：</div>
                        </td>
                        <td>
                            <input class="form-control" id="wap_url" name="wap_url" value="{$data.wap_url}" type="text" placeholder="请输入WAP域名">
                            <div class="help-block">如果WAP站点与PC站点是分开的请设置对应的WAP域名，如果是响应式则忽略！</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">描述：</div>
                        </td>
                        <td><textarea name="description" class="form-control" id="description" cols="30" rows="3" placeholder="请输入描述">{$data.description}</textarea></td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">状态：</div>
                        </td>
                        <td>
                            <select name="status" class="form-control">
                                <option value="1" <eq name="data.status" value="1">selected="selected"</eq>>开启</option>
                                <option value="0" <eq name="data.status" value="0">selected="selected"</eq>>关闭</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blank15"></div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("edit")}","#myform")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">
            <i class="fa fa-chevron-circle-left"></i> 返回
        </button>
        <input type="hidden" name="id" value="{$data.id}">
        <input type="hidden" name="parameter" value="{$parameter}">
    </form>
</div>