<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("index",decode($parameter))}'>URL路由</a></li>
        <li class="active">编辑路由</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form action="" method="post" id="myform" name="myform" onsubmit="return false">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 分组：</div>
                        </td>
                        <td>
                            <select name="pid" class="form-control" id="data-type">
                                <eq name="data.pid" value="0">
                                    <option value="0">顶级分组</option>
                                <else/>
                                    {$menulist_a}
                                </eq>
                            </select>
                        </td>
                    </tr>
                    <script type="text/javascript">
                        $(function(){
                            $("#data-type").change(function(event) {
                                if($(this).val() != 0){
                                    $("#data-expression").show();
                                    $("#data-routerurl").show();
                                    $('#data-type-name').html('路由');
                                } else {
                                    $("#data-expression").hide();
                                    $("#data-routerurl").hide();
                                    $('#data-type-name').html('分组');
                                }
                            });
                        })
                    </script>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> <span id="data-type-name"><if condition="$data['pid'] eq 0">分组<else/>路由</if></span>名称：</div>
                        </td>
                        <td>
                            <input class="form-control" id="name" name="name" value="{$data.name}" type="text" placeholder="请输入名称">
                        </td>
                    </tr>
                    <tr id="data-expression" <eq name="data.pid" value="0">style="display:none"</eq>>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 表达式：</div>
                        </td>
                        <td>
                            <input class="form-control" id="expression" name="expression" value="{$data.expression}" type="text" placeholder="/^about\/(\d+)$/">
                            <div class="help-block">正则路由：/^about\/(\d+)$/，规则路由：blog/:id</div>
                        </td>
                    </tr>
                    <tr id="data-routerurl" <eq name="data.pid" value="0">style="display:none"</eq>>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 路由地址：</div>
                        </td>
                        <td>
                            <input class="form-control" id="routerurl" name="routerurl" value="{$data.routerurl}" type="text" placeholder="Home/News/details?cid=:1&id=:2&p=:3">
                            <div class="help-block">路由地址即路由匹配到的真实地址，Home/News/details?cid=:1&id=:2&p=:3</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">状态：</div>
                        </td>
                        <td>
                             <select name="status" class="form-control">
                                <option value="1" <eq name="data.status" value="1">selected="selected"</eq>>开启</option>
                                <option value="0" <eq name="data.status" value="0">selected="selected"</eq>>关闭</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blank15"></div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("edit")}","#myform")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">
            <i class="fa fa-chevron-circle-left"></i> 返回
        </button>
        <input type="hidden" name="id" value="{$data.id}">
        <input type="hidden" name="parameter" value="{$parameter}">
    </form>
</div>