    <div class="footer">
        <div class="foot-copy">
            <div class="copyright">
          <p style="color:#adadad;font-size:14px;border:none;line-height:120%;">
          <span style="font-size:20px;">市场有风险 投资需谨慎</span>
         </p>
                <div></div>
                <div class="szfw">
                <div class="lkjh" style="text-align: center;">{:C('BASE_COPYRIGHT')}</div>
        </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__NEW__/js/jquery-1.8.3.js" type="text/javascript"></script>
<script src="__NEW__/js/idangerous.swiper.min.js" type="text/javascript"></script>
<script src="__NEW__/js/Swiper-3.4.1/js/swiper.min.js" type="text/javascript"></script>
<script src="__NEW__/js/init.js" type="text/javascript"></script>
<div class="side_nav">
    <div class="telconswx msgwin" pop="box01">
        <a href="javascript:void(0)" class="wxcons"><i class="wxico"></i></a>
        <div class="clearfix"><img src="__NEW__/picture/tea_erweima.jpg"></div>
    </div>
    <a href="javascript:void(0)" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&amp;uin=2022725026');" style="position: relative;top: 49px;"><i class="qqico"></i></a>
    <div class="telcons msgwin" pop="box05">
        <a href="javascript:void(0)"><i class="telico"></i></a>
        <div class="clearfix"><p>0571-88760381</p></div>
    </div>
    <!-- <a href="#" target="_blank" class="sinaicos"><i class="sinaico"></i></a> -->
</div>