<div class="header">
	<div class="headercon clearfix">
    	<span class="logo" style="width:320px;">
		<div class="leftlogo">
			<a href="javascript:;"></a>
		</div>
		<div class="rightlogo">
			<a href="javascript:;">互联网<br>金融投资领导品牌</a>
		</div>
		</span>
        <ul class="menumain" style="float: left;margin-left: 94px;padding-top:3px ">
            <a href="http://vip.mmtvzb.com/" class="w64" target="_blank"><img src="__NEW__/images/24.jpg"></a>
        </ul>			
        <div class="r-menuwarp clearfix">
            <div class="clk-btn">
				<img src="__NEW__/images/400.jpg" alt="">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="main-banwarp"></div>
<!--  <div class="main-menuwarp">
    <div class="wrapper">
        <ul class="nav-menu">
			<li class="cur"><a href="#">研究团队</a></li>
        </ul>
    </div>
</div> -->