<div class="s-team-m-mtbd">
    <h2>顶点财经 ▪ 分析师团队</h2>
    <ul>
        <li>
            <div class="lef-img lef-img1"><a href="{:U('/sp/teacherli')}"><img src="__NEW__/images/teacherclz.png" alt="陈林展" /></a></div>
            <h3><a href="{:U('/sp/teacherli')}">朱亮</a></h3>
            <p>看大做小，顺势而为，严格执行纪律，严把风控，安全第一</p>
        </li>
        <li>
            <div class="lef-img lef-img1"><a href="{:U('/sp/teacherwu')}"><img src="__NEW__/images/teacherrzj.png" alt="任志江" /></a></div>
            <h3><a href="{:U('/sp/teacherwu')}">任志江</a></h3>
            <p>顺势而为，稳中取胜，小止损博大利润。</p>
        </li>
        <li>
            <div class="lef-img lef-img1"><a href="{:U('/sp/teacherwang')}"><img src="__NEW__/images/teacherwx.png" alt="王玺" /></a></div>
            <h3><a href="{:U('/sp/teacherwang')}">王玺</a></h3>
            <p>昔之善战者，先为不可胜，以待敌之可胜。不可胜在己，可胜在敌。故善战者，能为不可胜，不能使敌之必可胜。</p>
        </li>
        <li>
            <div class="lef-img lef-img1"><a href="{:U('/sp/teacherjiang')}"><img src="__NEW__/images/teacherhxm.png" alt="胡旭明" /></a></div>
            <h3><a href="{:U('/sp/teacherjiang')}">胡旭明</a></h3>
            <p>从基本面、技术面、资金面来分析行情，寻找商机。</p>
        </li>
        <li>
            <div class="lef-img lef-img1"><a href="{:U('/sp/teacherzhou')}"><img src="__NEW__/images/teacherzl.png" alt="朱亮" /></a></div>
            <h3><a href="{:U('/sp/teacherzhou')}">陈林展</a></h3>
            <p>以观大做小的格局寻找共振点果断出击，做到小亏损大获利。</p>
        </li>
        <li>
            <div class="lef-img lef-img1"><a href="{:U('/sp/teachershen')}"><img src="__NEW__/images/teacherqql.png" alt="邱麒麟" /></a></div>
            <h3><a href="{:U('/sp/teachershen')}">邱麒麟</a></h3>
            <p>擅长基于宏观经济、基本面的分析，以及其独特的技术面分析，在没有大涨之前抓到牛股，从而获利颇丰！</p>
        </li>
    </ul>
</div>