<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("index",decode($parameter))}'>管理员管理</a></li>
        <li class="active">个人资料</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form action="" method="post" id="myform" name="myform" onsubmit="return false">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 用户名：</div>
                        </td>
                        <td>
                            <input class="form-control" id="username" name="username" value="{$data.username}" readonly="readonly" type="text" placeholder="请输入用户名">
                            <div class="help-block">例如：admin</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 原始密码：</div>
                        </td>
                        <td>
                            <input class="form-control" id="oldpassword" name="oldpassword" value="" type="password" placeholder="请输入原始密码">
                            <div class="help-block">例如：admin123</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 新密码：</div>
                        </td>
                        <td>
                            <input class="form-control" id="password" name="password" value="" type="password" placeholder="请输入新密码">
                            <div class="help-block">注意：不修改请留空</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 确认新密码：</div>
                        </td>
                        <td>
                            <input class="form-control" id="ckpassword" name="ckpassword" value="" type="password" placeholder="请输入确认密码">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">头像：</div>
                        </td>
                        <td>
                            <script type="text/javascript">
                                $(function(){
                                    var headids = 2;
                                    $('#headimg').click(function(event){
                                        $(this).attr({src: '__JQUERY__/hplus/img/a'+headids+'.jpg'});
                                        $('#head').val('__JQUERY__/hplus/img/a'+headids+'.jpg');
                                        if(headids == 9){
                                            headids = 1;
                                        } else{
                                            headids += 1;
                                        }
                                    });
                                })
                            </script>
                            <img src="__ROOT__{$data.head}" alt="头像" title="点击换头像" id="headimg" width="100" height="100" class="img-circle">
                            <div class="help-block">点击头像图片换头像</div>
                            <input type="hidden" id="head" name="head" value="__ROOT__{$data.head}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">邮件：</div>
                        </td>
                        <td>
                            <input class="form-control" id="email" name="email" size="50" value="{$data.email}" type="email" placeholder="请输入邮件">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">手机：</div>
                        </td>
                        <td>
                            <input class="form-control" id="mobile" name="mobile" size="50" value="{$data.mobile}" type="tel" placeholder="请输入手机">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blank15"></div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("profile")}","#myform")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">
            <i class="fa fa-chevron-circle-left"></i> 返回
        </button>
        <input type="hidden" name="id" value="{:session('uid')}">
    </form>
</div>