<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>任志江 - 敢死队战队专业分析师</title>
<meta name="keywords" content="任志江 - 敢死队战队专业分析师">
<meta name="description" content="任志江 - 敢死队战队专业分析师">
<include file="Public:headcommon" />
</head>
<body>
<div class="warp services-team">
	<include file="Public:head" />

    <div class="s-team-main">
        <include file="Public:teaminc" />
        <div class="s-team-m-expert">
            <div class="s-team-m-e-box">
                <div class="s-team-m-e-detail s-team-m-e-d-wrapcon">
                    <div class="s-team-m-e-d-viewcon ">
                        <div class="lef expert-img01"><img src="__NEW__/images/teacherrzj.png" alt=""></div>
                        <div class="rig">
                            <h3>任志江</h3>
                            <span class="zw">顶点财经 ▪ 敢死队战队</span>
                            <h2>个人简介</h2>
                            <P>
                                 1、多年实盘分析操盘经验，对股票、期货和大宗商品方面都有独到研究，2013年至今保持黄金连续周周正赢利的交易记录，年化收益均值210%左右，趋势造神话。<br>2、独创鳄鱼实战法则，深入研究K线精髓，利用K线组合完成进出场的切入，善用图形判断趋势，短中结合，顺势而为，稳中取胜。<br>nbsp3、稳稳抓住市场始终是人在做这一条件，对市场心理有进行系统研究，在心态博弈方面掌握得炉火纯青。<br>&nbsp4、策略特点：以点位为主，趋势为辅，一笔正确的止损也是成功交易，以小止损博大利。</label>
                            </P>
                            <p><strong>投资名言：</strong>顺势而为，稳中取胜，小止损博大利润。</p>
<!--                             <p><strong>战法介绍：</strong>鳄鱼战法是我根据布林线的走势而总结出来的交易法则，能够为大家提供明确可靠的入场点位、清晰明了的多空分界、以及顺应趋势的出场点位，对大家来说是非常实用且简洁明了的。尤其是在强烈的单边行情当中，此战法不存在其他指标的钝化现象，能够大显身手！</p> -->
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="s-team-m-list">
            <h2>鳄鱼战法 ▪ 战法演示</h2>
        </div>
        <div class="warp home">
            <div class="mainwarp">
                <div class="main-about">
                    <div class="m-a-list">
                        <a class="arrow-left list-arwleft" href="javascript:void(0);"></a>
                        <a class="arrow-right list-arwright" href="javascript:void(0);"></a>
                        <div class="swiper-container m-a-l-container">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea3_bar1.png" alt="任志江 ▪ 鳄鱼战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">任志江 ▪ 鳄鱼战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>此阶段为战法当中所提及的震荡行情，在此阶段中，行情进入调整阶段，中长线布局应慎入，等待市场出现信号时在行进场，日内操作策略则应以高空低多为主！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>1</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea3_bar2.png" alt="任志江 ▪ 鳄鱼战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">任志江 ▪ 鳄鱼战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>此阶段行情为战法中所提及的单板多头行情，在此行情阶段中，中长线多单位继续持有，而短线日内操作策略赢在踩及中轨附近低多为主！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>2</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea3_bar3.png" alt="任志江 ▪ 鳄鱼战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">任志江 ▪ 鳄鱼战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>此阶段行情为战法中所提及的单位空头行情，在此波行情中，中长线空单应继续持有，而日内操作策略应在中轨附近高空为主！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>3</em></i>
                                    </div>
                                </div>

                            </div>
                            <div class="pagination hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-team-m-cp">
            <h2>鳄鱼战法 ▪ 战绩介绍</h2>
            <div class="s-team-m-cp-mid">
                <div id="zhanji" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__NEW__/picture/tea3_score1.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/tea3_score2.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/tea3_score3.png" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/tea3_score4.png" alt=""></div>
                    </div>
                    <div class="swiper-pagination" style="bottom: 8px;"></div>
                </div>
            </div>
            <style>
                .swiper-container {
                    width: 100%;
                    height: 100%;
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    height: 380px;
                }
                .swiper-pagination-bullet{
                    height: 15px;
                    width: 15px;
                }
            </style>
            <div class="s-team-m-cp-bto">
                <p>鳄鱼战法是我根据布林线的走势而总结出来的交易法则，能够为大家提供明确可靠的入场点位、清晰明了的多空分界、以及顺应趋势的出场点位，对大家来说是非常实用且简洁明了的。尤其是在强烈的单边行情当中，此战法不存在其他指标的钝化现象，能够大显身手！</p>
            </div>
        </div>
        <include file="Public:teacherlist" />
    </div>
<include file="Public:foot" />
</html>
