<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li class="active">聊天消息</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form name="myform" id="myform" method="post">
        <div class="tabs-container">
            <div class="btn-group">
                <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/del",session("uid")) eq 1'>
                    <a href="javascript:void(0)" onclick="delall('{:U('del')}')" class="btn btn-primary"><i class="fa fa-trash-o"></i> 批量删除</a>
                </if>
                <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/sort",session("uid")) eq 1'>
                    <a href="javascript:void(0)" onclick="sort('{:U('sort')}')" class="btn btn-danger"><i class="fa fa-sort"></i> 更新排序</a>
                </if>
            </div>
             <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/search",session("uid")) eq 1'>
                <a href="javascript:void(0)" onclick="dialogContentPer('#search','搜索','80%','82%')" class="btn btn-info pull-right"><i class="fa fa-search"></i> 搜索</a>
            </if>
            <div class="blank10"></div>
            <div class="tab-content">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="tb_checkbox">
                                    <input type="checkbox" class="i-checks selectAll_ids_list">
                                </th>
                                <th class="tb_sort text-center">排序</th>
                                <th>ID</th>
                                <th>用户类型</th>
                                <th>用户名称</th>
                                <th>在线时长</th>
                                <th>最后在线时间</th>
                                <th>在线ip</th>
                                <th>禁言</th>
                                <th>封ip</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="data" id="datalist">
                                <tr>
                                    <td>
                                       <input type="checkbox" class="i-checks select_ids" name="ids[]" value="{$datalist.id}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control text-center sort" dataId="{$datalist.id}" name="sort[]" value="{$datalist.sort}">
                                    </td>
                                    <td>{$datalist.id}</td>
                                    <td>
                                        <if condition="$datalist['usertype'] eq 0">
                                            游客
                                        <elseif condition="$datalist['usertype'] eq 1" />
                                            <span class="red">会员<eq name="datalist.userdata.robots" value="1"><span class="green">(机器人)</span></eq></span>
                                        <elseif condition="$datalist['usertype'] eq 2" />
                                            <span class="green">管理员<span class="blue">({$datalist.userdata.authrole})</span></span>
                                        </if>
                                    </td>
                                    <td>
                                        {$datalist.userdata.username}
                                    </td>
                                    <td>{$datalist.watch_time}<br>{$datalist.watch_time_info}</td>
                                    <td>
                                        {$datalist.loginout_time|date='Y-m-d H:i:s',###}
                                    </td>
                                    <td><div data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement='top' title="说明" data-content="地区：{$datalist.area.area} {$datalist.area.country}">{$datalist.ip}</div></td>
                                    <td>
                                        <eq name="datalist.status" value="1">
                                            <i class="fa fa-check text-navy" title="禁言"></i>
                                        <else />
                                            <i class="fa fa-remove" title="未禁言"></i>
                                        </eq>
                                    </td>
                                    <td>
                                        <eq name="datalist.fip" value="1">
                                            <i class="fa fa-check text-navy" title="已封ip"></i>
                                        <else />
                                            <i class="fa fa-remove" title="未封ip"></i>
                                        </eq>
                                    </td>
                                    <td>
                                        <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/setStatus",session("uid")) eq 1'>
                                            <a class="btn btn-info btn-sm" onclick="postUrl('{:U('setStatus')}',{$datalist['id']})" href='javascript:;'><i class="fa fa-edit"></i> <eq name="datalist.status" value="1">解除</eq>禁言</a>
                                        </if>
                                        <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/setIp",session("uid")) eq 1'>
                                            <a class="btn btn-success btn-sm" onclick="postUrl('{:U('setIp')}',{$datalist['id']})" href='javascript:;'><i class="fa fa-lock"></i> <eq name="datalist.fip" value="1">解</eq>封ip</a>
                                        </if>
                                        <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/del",session("uid")) eq 1'>
                                            <a class="btn btn-primary btn-sm" href="javascript:;" onclick="del('{:U('del')}',{$datalist.id})"><i class="fa fa-remove"></i> 删除</a>
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="list-page">{$pagelist}</div>
    </form>
</div>
<div id="search" style='display:none'>
    <form action="" id="searchForm" onsubmit="return false">
        <div class="form-group">
            <label for="username" class="new_label">用户名：</label>
            <input class="form-control" id="username" name="username" value="" type="text" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="usertype" class="new_label">用户类型：</label>
            <select name="usertype" id="usertype" class="form-control">
                <option value="">不限</option>
                <option value="0">游客</option>
                <option value="1">会员</option>
                <option value="2">管理员</option>
            </select>
        </div>
        <div class="form-group">
            <label for="watch_time" class="new_label">在线时长(单位：秒)：</label>
            <input class="form-control" id="watch_time" name="watch_time" value="" type="text" placeholder="请输入在线时长">
        </div>
        <div class="form-group">
            <label for="ip" class="new_label">在线ip：</label>
            <input class="form-control" id="ip" name="ip" value="" type="text" placeholder="请输入ip地址">
        </div>
        <script type="text/javascript" src="__JQUERY__/layer/extendplugin/laydate/laydate.js"></script>
        <script src="__PUBLIC__/js/date_select.js" type="text/javascript"></script>
        <div class="form-group">
            <label for="starttime" class="new_label">开始时间：</label>
            <input class="laydate-icon form-control" id="starttime" name="starttime" value="" type="text" placeholder="开始时间">
        </div>
        <div class="form-group">
            <label for="endtime" class="new_label">结束时间：</label>
            <input class="laydate-icon form-control" id="endtime" name="endtime" value="" type="text" placeholder="结束时间">
        </div>
        <div class="form-group">
            <label for="status" class="new_label">禁言状态：</label>
            <select name="status" id="status" class="form-control">
                <option value="">不限</option>
                <option value="0">未禁言</option>
                <option value="1">禁言</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fip" class="new_label">封ip：</label>
            <select name="fip" id="fip" class="form-control">
                <option value="">不限</option>
                <option value="0">未封ip</option>
                <option value="1">已封ip</option>
            </select>
        </div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("search")}","#searchForm")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
    </form>
</div>