<link href="__JQUERY__/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="__JQUERY__/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__JQUERY__/hplus/css/animate.min.css" rel="stylesheet">
<link href="__JQUERY__/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="__JQUERY__/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__ZHIBO__/Css/user.css">
<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
<script src="__JQUERY__/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__JQUERY__/jquery.fixedsSerializeArray.js"></script>
<script type="text/javascript" src="__JQUERY__/jquery.form.js"></script>
<script src="__JQUERY__/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__JQUERY__/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__JQUERY__/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__JQUERY__/layer/layer.js"></script>
<script src="__JQUERY__/hplus/js/plugins/iCheck/icheck.min.js"></script>
<script src="__JQUERY__/hplus/js/hplus.min.js?v=4.1.0"></script>
<script src="__JQUERY__/hplus/js/contabs.min.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
<script src="__JS__/base.js"></script>