<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("index",decode($parameter))}'>角色管理</a></li>
        <li class="active">新增角色</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form action="" method="post" id="myform" name="myform" onsubmit="return false">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 名称：</div>
                        </td>
                        <td>
                            <input class="form-control" id="title" name="title" value="" type="text" placeholder="请输入名称">
                            <div class="help-block">例如：超级管理员</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">图标：</div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="iconimg"><i class="fa fa-image"></i></span>
                                <select name="icon" class="form-control" id="icon">
                                    <option value="">请选择图标</option>
                                    <option value="__PUBLIC__/images/authgroup/xc01.png">黑色图标</option>
                                    <option value="__PUBLIC__/images/authgroup/xc02.png">红色图标</option>
                                    <option value="__PUBLIC__/images/authgroup/xc03.png">紫色图标</option>
                                    <option value="__PUBLIC__/images/authgroup/xc04.png">灰色图标</option>
                                    <option value="__PUBLIC__/images/authgroup/xc05.png">黄色图标</option>
                                    <option value="__PUBLIC__/images/authgroup/xc06.png">蓝色图标</option>
                                    <option value="__PUBLIC__/images/authgroup/xc07.png">客服图标</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <script type="text/javascript">
                        $(function(){
                            $('#icon').change(function(event) {
                                if($(this).val() == ''){
                                    $("#iconimg").html('<i class="fa fa-image"></i>');
                                } else {
                                    $("#iconimg").html('<img src="'+$(this).val()+'" alt="'+$(this).text()+'" style="max-height: 20px">');
                                }
                            });
                        })
                    </script>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">状态：</div>
                        </td>
                        <td>
                            <select name="status" class="form-control">
                                <option value="1" selected="selected">开启</option>
                                <option value="0">关闭</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">描述：</div>
                        </td>
                        <td><textarea name="description" class="form-control" id="description" cols="30" rows="3" placeholder="请输入描述"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blank15"></div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("add")}","#myform")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">
            <i class="fa fa-chevron-circle-left"></i> 返回
        </button>
        <input type="hidden" name="parameter" value="{$parameter}">
    </form>
</div>