<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("index",decode($parameter))}'>角色管理</a></li>
        <li class="active">角色成员</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form name="myform" id="myform" method="post">
        <div class="tabs-container">
            <div class="btn-group">
                <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/del",session("uid")) eq 1'>
                    <a href="javascript:void(0)" onclick="adminuserdelall('{:U('adminuserdel')}',{$group_id})" class="btn btn-primary"><i class="fa fa-trash-o"></i> 批量删除</a>
                </if>
            </div>
            <div class="blank10"></div>
            <div class="tab-content">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="tb_checkbox">
                                    <input type="checkbox" class="i-checks selectAll_ids_list">
                                </th>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>Email</th>
                                <th>电话</th>
                                <th>最近登录ip</th>
                                <th>最近登录时间</th>
                                <th>登录次数</th>
                                <th>状态</th>
                                <th>开发者</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="data" id="datalist">
                                <tr>
                                    <td>
                                       <input type="checkbox" class="i-checks select_ids" name="ids[]" value="{$datalist.id}">
                                    </td>
                                    <td>{$datalist.id}</td>
                                    <td ><a href='javascript:;' title="{$datalist.username}">{$datalist.username}</a></td>
                                    <td>{$datalist.email}</td>
                                    <td>{$datalist.mobile}</td>
                                    <td>{$datalist.last_login_ip}</td>
                                    <td>
                                        <neq name="datalist.last_login_time" value="">
                                            {$datalist.last_login_time|date='Y-m-d H:i:s',###}
                                        </neq>
                                    </td>
                                    <td>{$datalist.login_count}</td>
                                    <td>
                                        <eq name="datalist.status" value="1">
                                            <i class="fa fa-check text-navy" title="开启"></i>
                                        <else />
                                            <i class="fa fa-remove" title="关闭"></i>
                                        </eq>
                                    </td>
                                    <td>
                                        <eq name="datalist.dev" value="1">
                                            <i class="fa fa-check text-navy" title="是"></i>
                                        <else />
                                            <i class="fa fa-remove" title="否"></i>
                                        </eq>
                                    </td>
                                    <td>
                                        <if condition='authCheck(MODULE_NAME."/".CONTROLLER_NAME."/del",session("uid")) eq 1'>
                                            <a class="btn btn-primary btn-sm" href="javascript:;" onclick="adminuserdel('{:U('adminuserdel')}',{$datalist.id},{$group_id})"><i class="fa fa-remove"></i> 删除</a>
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="list-page">{$pagelist}</div>
    </form>
</div>
<script type="text/javascript">
/**
 * [delall 组装删除数据的id：批量删除]
 * @param  {[string]} url [处理数据的url地址]
 * @return {[json]}       [返回json格式]
 */
function adminuserdelall(url,gid){
    var ids = [];
    $(".select_ids:checked").each(function(index, el) {
        ids.push($(this).val());
    });

    if(ids.length == 0){
        parent.layer.open({
            content:'请选择要删除的数据！',
            yes:function(index){
                parent.layer.close(index);
            },
            icon:2
        });
        return false;
    }

    //变成字符串
    ids = ids.join(',');
    //发送数据
    adminuserdel(url,ids,gid);
}

/**
 * [del 删除函数]
 * @param  {[string]} url [处理数据的url地址]
 * @param  {[string]} ids [数据的id字符串]
 * @return {[json]}       [返回json格式]
 */
function adminuserdel(url,ids,group_id){
    parent.layer.confirm('确定要删除数据？',{icon:3},function(index){
        $.post(url,{id:ids,gid:group_id}, function(data, textStatus, xhr) {
            //返回消息
            if(data.status){
                parent.layer.msg(data.info,{icon:1,time:2000,shade: [0.3,'#000']},function(){
                    if(data.url){
                        location.href = data.url;
                    } else {
                        location.reload();
                    }
                });
            } else {
                parent.layer.open({
                    content:data.info,
                    yes:function(index){
                        parent.layer.close(index);
                    },
                    icon:2
                });
                //layer.msg(data.info,{icon:2});
            }

        });
    });
}
</script>