<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="__HOST__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="__HOST__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="__HOST__/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="__HOST__/css/CSSreset.min.css"/>
<link id="skin" rel="stylesheet" type="text/css" media="screen" href="__HOST__/css/divas_free_skin.css"/>
<script type="text/javascript" src="__HOST__/js/jquery.divas-1.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#slider").divas({
            slideTransitionClass: "divas-slide-transition-left",
            titleTransitionClass: "divas-title-transition-left",
            titleTransitionParameter: "left",
            titleTransitionStartValue: "-999px",
            titleTransitionStopValue: "0px",
            wingsOverlayColor: "rgba(0,0,0,0.6)"
        });
    });
</script>