<!-- header -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="http://www.topcj.com/" target="_blank"><img src="__HOST__/images/logo.png" class="img-responsive"/></a>
        </div>
        <div class="header-right">
            <div class="head-nav">
                <ul class="cl-effect-15">
                    <li><a href="http://vip.mmtvzb.com/" target="_blank"><img src="__HOST__/images/24.png"/></a></li>
                    <li><img src="__HOST__/images/400.png" alt=""/></li>
                    <div class="clearfix"></div>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
        <script>
            $("span.menu").click(function () {
                $(".head-nav ul").slideToggle(300, function () {
                    // Animation complete.
                });
            });
        </script>
    </div>
</div>
<!-- header -->