<!DOCTYPE HTML>
<html>
<head>
    <title>莹莹(Ada) - 顶点财经主持团队</title>
    <meta name="keywords" content="莹莹(Ada) - 顶点财经主持团队"/>
    <meta name="content" content="莹莹(Ada) - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>莹莹(Ada)</h3>
                    <img src="__HOST__/images/img6_lg.jpg" class="img-responsive" alt="">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">163cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">体 重</td>
                                <td class="col-xs-7">46kg</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">出生地</td>
                                <td class="col-xs-7">浙江省杭州市</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">民 族</td>
                                <td class="col-xs-7">汉族</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">星 座</td>
                                <td class="col-xs-7">处女座</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">学 历</td>
                                <td class="col-xs-7">本科</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">毕业院校</td>
                                <td class="col-xs-7">宁波大红鹰学院</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
				<p class="det" style="margin-top: 15px;"></p>
					<h3>个人简介:</h3>
                    <p class="myp">浙江杭州人，94年出生，17年毕业于宁波大红鹰学院广播电视编导专业。一学期完成一部视频作品，并都取得了不错的成绩。喜欢唱歌摄影，爱好比较广泛，获得全国mv、电视散文一等奖，宁波微电影大赛以及专题片一等奖等多个奖项。</p>
                    <p class="myp">本人性格开朗、稳重、有活力，待人热情、真诚。工作认真负责，积极主动，能吃苦耐劳;喜欢思考，虚心与人交流,以取长补短。有较强的组织能力、实际动手能力和团体协作精神，能迅速的适应各种环境，并融合其中。对于主持这一行业有着特别的情感，从初中到现在一直坚持主持，想要用自己一生的时间投入到主持的事业中去。</p>
                <p class="det"></p>
					<h3 style="margin-top:10px;">人生格言:</h3>
                    <p class="myp">有一颗热爱工作、热爱生活的心，相信只要有勇闯的冲劲，没有克服不了的困难！</p>
				<section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img6_lg_slider.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img6_lg_slider_1.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img6_lg_slider_2.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->

<include file="footer" />
</body>
</html>