<!DOCTYPE HTML>
<html>
<head>
    <title>金梦(Ruby) - 顶点财经主持团队</title>
    <meta name="keywords" content="金梦(Ruby) - 顶点财经主持团队"/>
    <meta name="content" content="金梦(Ruby) - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>金梦(Ruby)</h3>
                    <img src="__HOST__/images/img4_lg.jpg" class="img-responsive" alt="">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">英文名</td>
                                <td class="col-xs-7">Ruby</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">164cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">生 日</td>
                                <td class="col-xs-7">8月24日</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">星 座</td>
                                <td class="col-xs-7">处女座</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">人生格言</td>
                                <td class="col-xs-7">活出精彩、活的漂亮</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">爱 好</td>
                                <td class="col-xs-7">唱歌，阅读，旅游 写作</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">毕业院校</td>
                                <td class="col-xs-7">中央戏曲学院</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>                    
                </div>
                <div class="clearfix"></div>
				<p class="det" style="margin-top: 15px;"></p>
				<h3>个人经历与成就：</h3>
                <p class="myp">我出生在内蒙古是一个蒙族的姑娘，后来随着爸爸妈妈的缘故来到了北京定居，本人具有一个很强势的性格，喜欢挑战，不服输的状态，也许这股劲，才让我一个在同龄的年纪中有了不平凡的经历  大学时 我就自主创业，开了一家自己饰品工作室，追逐时尚的我，设计出的所有东西，都是年轻人想要的。我跟其他女孩不一样 我喜欢别人不敢想的东西。</p>
                <p class="det"></p>
                <p class="myp">在学校号称；女汉子的我，也诠释了这个代名词，也因为从小很喜欢模仿，爸爸就给我送进了影视学院学习表演 也很顺利的考入了家人所期待的学校  在不停的努力和学习下，在大学期间就拍摄了很多短片和MV 很多人第一次见到我 都觉得我这个人无法相处，外表是很高冷，其实高冷的女人 都有一颗很暖的心，后来毕业了，按耐不住的我，跑到了传说中的小香港，美丽大杭州  开展我主持的生涯。</p>
				<h3 style="margin-top:10px;">演艺经验：</h3>
                <p class="myp">2003年，以模特身份出道，参加众多的时尚秀和杂志拍摄而在模特界崭露头角。</p>
                <p class="myp">2007年，将工作重心转向电视剧。2011年，爱情片《我的母校》中首次担任女主角。</p>
                <p class="myp">2008年起客串光线传媒旗下主打节目《娱乐现场》的主持，同时也是黑龙江卫视嘉宾女主持。</p>
                <p class="myp">2010年11月发行第一张专辑《我们的奇迹》。</p>
                <p class="myp">2012年，凭借网络剧片《相聚就是缘》获得网络剧的热度。</p>
                <p class="myp">2013年，《南都娱乐周刊》选为新“小花旦” 2013年再内蒙古通辽获得形象大使的荣誉。</p>
                <p class="myp">2014拍摄蒙牛广告等。</p>
                <section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img4_lg_slider.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img4_lg_slider_2.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img4_lg_slider_4.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->
<include file="footer" />
</body>
</html>