<!DOCTYPE HTML>
<html>
<head>
    <title>小雨 - 顶点财经主持团队</title>
    <meta name="keywords" content="小雨 - 顶点财经主持团队"/>
    <meta name="content" content="小雨 - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>小雨</h3>
                    <img src="__HOST__/images/img3_lg.jpg" class="img-responsive" alt="">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">161cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">体 重</td>
                                <td class="col-xs-7">40kg</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">出生地</td>
                                <td class="col-xs-7">浙江省杭州市</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">爱 好</td>
                                <td class="col-xs-7">文学、电影、跳舞、COSPLAY、动漫</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
				 <p class="det" style="margin-top: 15px;"></p>
				 <h3>个人简介:</h3>
                  <p class="myp">生活中的我是个乐观活泼的人，我是双子座，喜欢新鲜有趣的事物，兴趣爱好也非常广泛。我喜欢文学和看电影，也喜欢跳舞，能够和身边的同学朋友打成一片。大学时，我就和朋友一起去外面接演出，经常各个地方表演，丰富的演出经历不仅让自己能够从中学到很多，同时也在充实着自己。</p>
                  <p class="myp">我还喜欢动漫，所以常年混迹于二次元，喜欢COSPLAY，每年的漫展和CJ都会和小伙伴们一起组团去玩。</p>
                  <p class="myp">闲暇之余，我会去学一门外语，所以我会一些日语，也能和国外的人偶尔简短交流一下。我给自己下过目标，不管多忙，每年我都要去旅游一次。所以，美国，印尼，日本，泰国亚洲国家包括国内各个地方，我都会去玩玩看看，不同的文化，不同的交流都能让我学到很多，也在增长我的见识，丰富我的内涵。</p>
                  <p class="myp">而曾经在阿里实习的时间里，让我学到了虚心接受前辈指导，接受上级批评，有错会改的品质。我曾经为了学寿司特意跑去寿司店兼职，而利用业余时间兼职期间，让我懂得了人要勤奋，要上进，有耐心，懂得从小做起，做好每项工作，个人的专业知识及拓展知识要丰富，这样做起事来才会得心应手。</p>
                  <p class="myp">生命之长短殊不重要，只要你活得快乐，在有生之年做些有意义的事，便已足够。</p>
                <section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img3_lg_slider.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img3_lg_slider_1.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img3_lg_slider_2.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img3_lg_slider_3.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->

<include file="footer" />
</body>
</html>