<!DOCTYPE HTML>
<html>
<head>
    <title>小乔(Alice) - 顶点财经主持团队</title>
    <meta name="keywords" content="小乔(Alice) - 顶点财经主持团队"/>
    <meta name="content" content="小乔(Alice) - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>小乔(Alice)</h3>
                    <img src="__HOST__/images/img7_lg.jpg" class="img-responsive" alt="">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">英文名</td>
                                <td class="col-xs-7">Alice</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">168cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">体 重</td>
                                <td class="col-xs-7">55kg</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">出生地</td>
                                <td class="col-xs-7">黑龙江省齐齐哈尔市</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">星 座</td>
                                <td class="col-xs-7">双子座</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">爱 好</td>
                                <td class="col-xs-7">唱歌/跳舞/烘焙</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">证 书</td>
                                <td class="col-xs-7">普通话测试一级乙等，全国播音员主持人资格证书</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
				 <p class="det" style="margin-top: 15px;"></p>
                 <h3>个人简介:</h3>
                 <p class="myp">我是来自北方的姑娘小乔，因为喜欢江南的美景，来到“人间天堂”——杭州工作。有普通话一级乙等证书，全国播音员主持人资格证书。从事主持工作有三年的经验了，主持风格清新自然。</p>
                 <p class="myp">曾在澳通（大连）科技发展有限公司担任主持人，赶赴全国各地十多个城市出差主持线上和线下活动。在公司期间，也曾独立策划一档美食栏目《美味家》。</p>
                 <p class="myp">生活中的我活泼开朗，兴趣爱好十分广泛。热爱美食的我，闲暇之余会尝试制作不同的美味，享受制作美食的过程。作为一个地道的双子座，我喜欢交朋友，擅长唱歌，不论是通俗流行还是美声民族都能hold得住。除了做主持，我也参与过影视表演、唱歌、模特等工作。也曾主持上海大众斯柯达品牌的车展活动、万达广场的品牌推广活动、以及其他的一些会议等方面的主持工作。也担任过配音演员，为公司的一些卡通形象进行配音，让原本没有生气的角色，变得生动可爱。</p>
                 <p class="myp">虽然我的家乡冬天很冷，但我仍然是一个对工作充满热情的女孩。我始终坚信一句话，你可以一辈子都不登山，但你心中一定要有一座山。请记住我，一个充满热情的双子座女孩小乔。</p>
                 <p class="det"></p>   
				 <h3>工作经历:</h3>
                 <p class="myp">赶赴全国10多个城市出差主持线下活动，上海大众斯柯达品牌车展活动，营口万达线下推广活动  以及其他会议主持和婚礼主持活动。</p>
				  <p class="det"></p>
                 <h3>人生格言:</h3>
                 <p class="myp">你可以一辈子都不登山，但你心中一定要有一座山。</p>				 
			   <section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img7_lg_slider.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img7_lg_slider_1.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img7_lg_slider_2.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img7_lg_slider_3.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img7_lg_slider_4.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->

<include file="footer" />
</body>
</html>