<!DOCTYPE HTML>
<html>
<head>
    <title>婷婷(Ada) - 顶点财经主持团队</title>
    <meta name="keywords" content="婷婷(Ada) - 顶点财经主持团队"/>
    <meta name="content" content="婷婷(Ada) - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>婷婷(Ada)</h3>
                    <img src="__HOST__/images/img2_lg.jpg" class="img-responsive" alt="" style="overflow:hidden;">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">英文名</td>
                                <td class="col-xs-7">Ada</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">民 族</td>
                                <td class="col-xs-7">汉</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">163cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">体 重</td>
                                <td class="col-xs-7">49kg</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">生 日</td>
                                <td class="col-xs-7">10月17日</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">星 座</td>
                                <td class="col-xs-7">天秤座</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">爱 好</td>
                                <td class="col-xs-7">听音乐.看电影.旅游.撸猫.吃</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
				 <p class="det" style="margin-top: 15px;"></p>
				 <h3>个人简介:</h3>
                 <p class="myp">平时我喜欢看电影听音乐旅旅游，也是一枚小小吃货，喜欢各类美食。</p>
                 <p class="myp">一个渴望完美却有着很多缺点的女孩，一个想要成功却屡次碰壁的女孩，一个追求时尚却不懂得高雅的女孩，哈，这就是我。</p>
                 <p class="myp">乐观.自信.开朗是我不变的性格。或许外表给人的感觉是这个女孩有点高冷难接触，其实不然，生活中的我比较乐观积极，能够和身边的同事朋友打成一片。大家说我看起来每天都充满热情和活力，我一直希望自己能够慢慢成为一个有独立见解的人，所以当有想法时，我就会周密计划，然后再实践中积累经验，也给自己多增添一份经历。</p>
                 <p class="myp">我深深地知道，作为一名合格的财经主持人是一件非常不容易的事情，成长那个的道路是你撒个会有成功的喜悦，但更多的是失败的沮丧；会有收获的幸福，但更多的是耕耘的艰辛。但我有勇气.有决心去面对这一切。</p>
                 <p class="myp">通过几年的工作我学到了很多知识，同时还培养了我坚韧不拔的意志和顽强拼搏的精神，使我能够在工作中不断地克服困难.积极进取。</p>
                <section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img2_lg_slider.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img2_lg_slider_1.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img2_lg_slider_2.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img2_lg_slider_3.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->

<include file="footer" />
</body>
</html>