<!DOCTYPE HTML>
<html>
<head>
    <title>思思(Silvia) - 顶点财经主持团队</title>
    <meta name="keywords" content="思思(Silvia) - 顶点财经主持团队"/>
    <meta name="content" content="思思(Silvia) - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>思思(Silvia)</h3>
                    <img src="__HOST__/images/img12_lg.jpg" class="img-responsive" alt="">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">英文名</td>
                                <td class="col-xs-7">Silvia</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">167cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">体 重</td>
                                <td class="col-xs-7">55kg</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">运 动</td>
                                <td class="col-xs-7">羽毛球</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">星 座</td>
                                <td class="col-xs-7">巨蟹座</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">音 乐</td>
                                <td class="col-xs-7">古典乐、蓝调</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">爱 好</td>
                                <td class="col-xs-7">阅读、唱歌、下国际象棋、喜欢旅游（喜欢欧洲国家）</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
				 <p class="det" style="margin-top: 15px;"></p>
				 <h3>个人简介:</h3>
                    <p class="myp">毕业于日语专业让这位靓丽、大方、睿智、知性的女孩深入人心。从事多年主持及金融行业，熟识金融专业知识及投资品种，对宏观经济及微观经济也有一定的深入研究，对投资市场也有自己独到的见解及投资理念，已沉稳介入投资市场为前提，本着“务持重，不急近功小利。”</p>
                    <p class="myp">务必要保持谨慎稳重的态度，不要急于追求眼前微小的功利，以稳重的态度，要有长远的、全局的打算方能在投资市场中长期稳健盈利。</p>
                    <p class="myp">曾任职某知名电台主播，以专业，气质外表.知性风格，声音甜美特点而备受关注。目前担任杭州大脸猫文化传播有限公司主持人总监，其担当一档栏目主持“热点思考”。</p>
                 <p class="det"></p>
				 <h3>人生格言:</h3>
                    <p class="myp">有事者，事竟成；破釜沉舟，百二秦关终归楚；苦心人，天不负；卧薪尝胆，三千越甲可吞吴。</p>
			   <section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img12_lg_slider.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img12_lg_slider_1.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img12_lg_slider_3.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img12_lg_slider_4.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img12_lg_slider_5.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->

<include file="footer" />
</body>
</html>