<!DOCTYPE HTML>
<html>
<head>
    <title>一凡 - 顶点财经主持团队</title>
    <meta name="keywords" content="一凡 - 顶点财经主持团队"/>
    <meta name="content" content="一凡 - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>一凡</h3>
                    <img src="__HOST__/images/img5_lg_1.jpg" class="img-responsive" alt="">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">165cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">生 日</td>
                                <td class="col-xs-7">4月4号</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">民 族</td>
                                <td class="col-xs-7">汉族</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">星 座</td>
                                <td class="col-xs-7">白羊座</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">爱 好</td>
                                <td class="col-xs-7">唱歌、旅游、看电影</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">人生格言</td>
                                <td class="col-xs-7">不忘初心、方得始终</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
				  <p class="det" style="margin-top: 15px;"></p>
				  <h3>个人简介:</h3>
                  <p class="myp">播音与主持艺术专业的应届毕业生，是个特别喜欢笑的姑娘，有一句话不是说“爱笑的女孩儿运气都不会太差”。说到爱好呢，那可就多了，唱歌，旅游，看电影，还有事没事就喜欢自己录个配音秀，小咖秀什么的。</p>
                  <p class="myp">平时特别喜欢听一些安静舒缓的音乐，最想去的国外城市就是法国巴黎，总觉得那是一个到处充满着浪漫氛围的地方。喜欢浪漫的巴黎却也割舍不了对成都的一份痴念，成都的安逸，成都的巴士都让人感觉特别舒服，当然还有成都的串串和火锅。</p>
                  <p class="myp">有的时候也觉着内心深处好像住着另外一个我，私底下特别喜欢玩小咖秀，经常自己录一些搞怪的视频，疯疯癫癫毫无形象。这两个我看似毫不相干但是可以做到随意切换是不是也很厉害。当然，主持的时候你们可以猜猜看今天是哪个我。</p>
                  <p class="myp">因为特别喜欢播音主持，也很有幸的和中央人民广播电台的主持人一起同台主持过，给2016年春节联欢晚会上唯一一个相声节目的相声演员做过访谈，获得2016年江西电视台
“十佳电视女主播”称号。</p>
                  <p class="myp">平时也主持过大大小小的晚会和活动，有一定的主持经验。那说到最喜欢的主持人呢，绝对是何炅何老师，喜欢他是专业，喜欢他的幽默，喜欢他的随机应变能力。当然在这条路上永远都处于一个学无止境的状态，也希望大家能喜欢一凡，多多提提建议，和大家一起成长。</p>
                <section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_0.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_1.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_2.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_3.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_4.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_5.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_6.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_7.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_8.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img5_lg_slider_9.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->

<include file="footer" />
</body>
</html>