<!DOCTYPE HTML>
<html>
<head>
    <title>瑶瑶(Jane) - 顶点财经主持团队</title>
    <meta name="keywords" content="瑶瑶(Jane) - 顶点财经主持团队"/>
    <meta name="content" content="瑶瑶(Jane) - 顶点财经主持团队"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="single">
            <div class="col-md-12 details-top">
                <div class="details-left">
                    <h3>瑶瑶(Jane)</h3>
                    <img src="__HOST__/images/img1_lg.jpg" class="img-responsive" width="100%">
                </div>
                <div class="details-right">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                        <tbody>
                            <tr class="row firstRow">
                                <td class="col-xs-5" style="padding-top: 0px">职 位</td>
                                <td class="col-xs-7" style="padding-top: 0px">主持人</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">英文名</td>
                                <td class="col-xs-7">Jane</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">身 高</td>
                                <td class="col-xs-7">163cm</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">体 重</td>
                                <td class="col-xs-7">53kg</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">出生地</td>
                                <td class="col-xs-7">浙江省温州市</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">星 座</td>
                                <td class="col-xs-7">狮子座</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">爱 好</td>
                                <td class="col-xs-7">唱歌/看书/旅游</td>
                            </tr>
                            <tr class="row">
                                <td class="col-xs-5">人生格言</td>
                                <td class="col-xs-7">自信者人信，自助者天助</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
				 <p class="det" style="margin-top: 15px;"></p>
				  <h3>个人简介：</h3>
                  <p class="myp">我是来自南方的姑娘瑶瑶，在杭州大脸猫文化传播有限公司工作。杭州自秦朝设县治以来已有2200多年的历史，曾是吴越国和南宋的都城，是中国七大古都之一。因风景秀丽，素有“人间天堂”的美誉。杭州得益于京杭运河和通商口岸的便利，以及自身发达的丝绸和粮食产业，历史上曾是重要的商业集散中心。而大脸猫文化传播有限公司，就是西子姑娘掌中的明珠，温婉却又夺目。毕业于浙江师范大学行知学院汉语言文学专业，有较强的语言组织能力和分析能力，曾在多个平台做过主播，以活泼、亲和的形象受到关注与喜爱。擅长把艰涩难懂枯燥的金融知识掰开揉碎，用老百姓的语言，有趣的叙述方式让投资掌握金融动态。</p>
                  <p class="myp">本人从事主持工作有一定经验，主持风格清新自然。曾在主持过多场晚会、比赛。在主持期间，也曾参与过三星推广路演活动。生活中的我活泼开朗，兴趣爱好十分广泛。爱美食，不爱做，只爱吃。作为一个地道的吃货，我喜欢交朋友，喜欢唱歌，热爱生活。除了做主持，我也参与过秀场主播、礼仪、模特等工作。我来自温州，承袭了温州人乐观坚强的特点。我始终坚信一句话，自信者人信，自助者天助。我是那个爱笑的姑娘---瑶瑶。</p>
				  <p class="det"></p>
				  <h3 style="margin-top:10px;">工作经历：</h3>
                  <p class="myp">学校晚会、比赛的主持活动义乌三星推广路演活动主持以及其他会议主持和婚礼主持活动配音/模特/演员方面的工作。</p>
                <section id="slider_wrapper">
                    <div style="margin-top: 10px">
                        <h3>主持风采</h3>
                    </div>
                    <div id="slider" class="divas-slider">
                        <ul class="divas-slide-container">
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img1_lg_slider.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img1_lg_slider_1.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img1_lg_slider_2.jpg"/></li>
                            <li class="divas-slide"><img src="__HOST__/images/placeholder.gif" alt="" data-src="__HOST__/images/img1_lg_slider_3.jpg"/></li>
                        </ul>
                        <div class="divas-navigation">
                            <span class="divas-prev">&nbsp;</span>
                            <span class="divas-next">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="clearfix"></div>
        </div>
        <include file="back" />
    </div>
</div>
<!-- content -->

<include file="footer" />
</body>
</html>