<!DOCTYPE HTML>
<html>
<head>
    <title>顶点财经主持团队</title>
    <meta name="keywords" content="顶点财经,主持团队，充满活力,专业性团队"/>
    <meta name="content" content="顶点财经主持团队，是一个充满活力且具有专业性团队。"/>
    <include file="headcommon" />
</head>
<body>
<include file="header" />
<!-- content -->
<div class="content-top">
    <div class="container">
        <div class="amazing">
            <div class="col-md-3 amaze">
                <div class="ama-top">
                    <h3>顶点财经旗下专业性的主持团队。</h3>
                </div>
                <div class="portfolio-wrapper ">
                    <div class="ama-bottom">
                        <a href="{:U('/sp/host1')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img4.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span>金梦</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 amaze">
                <div class="portfolio-wrapper ">
                    <div class="ama-top">
                        <a href="{:U('/sp/host2')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img1.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span>瑶瑶</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="portfolio-wrapper ">
                    <div class="ama-bottom">
                        <a href="{:U('/sp/host3')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img6.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span>莹莹</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 amaze">
                <div class="portfolio-wrapper ">
                    <div class="ama-top">
                        <a href="{:U('/sp/host4')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img2.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic1">
                                <li class="down"><span>婷婷</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 amaze">
                <div class="portfolio-wrapper ">
                    <div class="ama-top">
                        <a href="{:U('/sp/host5')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img3.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span>小雨</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="ama-bottom">
                    <h3>行业精英，充满活力，工作经验丰富。</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3 amaze">
                <div class="portfolio-wrapper ">
                    <div class="ama-bottom">
                        <a href="{:U('/sp/host6')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img5.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span>一凡</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 amaze">
                <div class="portfolio-wrapper ">
                    <div class="ama-bottom">
                        <a href="{:U('/sp/host7')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img12.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span>思思</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 amaze-2">
                <div class="portfolio-wrapper ">
                    <div class="ama-bottom">
                        <a href="{:U('/sp/host8')}" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="__HOST__/images/img7.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span>小乔</span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="col-md-3 amaze">
                <div class="portfolio-wrapper ">
                    <div class="ama-bottom">
                        <a href="details.html" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="images/img8.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic1">
                                <li class="down"><span> </span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 amaze">
                <div class="portfolio-wrapper ">
                    <div class="ama-bottom">
                        <a href="details.html" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="images/img9.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span> </span></li>
                            </ul>
                        </a>
                    </div>
                </div>
                <div class="ama-top">
                    <h3>This is a truly amazing piece of work</h3>
                </div>
            </div>
            <div class="col-md-6 amaze-2">
                <div class="col-md-6 amaze-1">
                    <div class="portfolio-wrapper ">
                        <div class="ama-bottom">
                            <a href="details.html" class="b-link-stripe b-animate-go  thickbox play-icon">
                                <img src="images/img10.jpg" class="img-responsive" alt=""/>
                                <ul class="social-ic">
                                    <li class="down"><span> </span></li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 amaze-1">
                    <div class="ttt">
                        <div class="ama-top">
                            <h3>This is a truly amazing piece of work</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="portfolio-wrapper ">
                    <div class="ama-top">
                        <a href="details.html" class="b-link-stripe b-animate-go  thickbox play-icon">
                            <img src="images/img11.jpg" class="img-responsive" alt=""/>
                            <ul class="social-ic">
                                <li class="down"><span> </span></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div> -->
        </div>
    </div>
</div>
<!-- content -->
<include file="footer" />
</body>
</html>