<?php
    //保存数据的字段
    $jiben['field'] = I('get.thumbfield','thumb');

    //缩略图配置
    $site_thumbw = C('SITE_SYSTEM_THUMB_WIDTH');
    $site_thumbh = C('SITE_SYSTEM_THUMB_HEIGHT');
    $thumbw = isset($site_thumbw) && !empty($site_thumbw) ? C('SITE_SYSTEM_THUMB_WIDTH') : C('SYSTEM_THUMB_WIDTH');
    $thumbh = isset($site_thumbh) && !empty($site_thumbh) ? C('SITE_SYSTEM_THUMB_HEIGHT') : C('SYSTEM_THUMB_HEIGHT');
    $thumbW = I('get.thumbw',$thumbw);
    $thumbH = I('get.thumbh',$thumbh);

    //上传文件大小
    $filesize = I('get.filesize',0);

    //上传类型
    $returntype = I('get.returntype','single');

    //保存目录
    $savedir = I('get.savedir');
?>
<div id="{$jiben.field}-layer-images" class="layer-images-demo"></div>
<if condition="$returntype neq 'single'"><div class="clear"></div></if>
<span class='imgupload' title="点击上传图片" onclick="dialogIframe('{:U('Uploadfile/index',array('type'=>'images','thumbw'=>$thumbW,'thumbh'=>$thumbH,'field'=>$jiben[field],'myid'=>$jiben[field].'-layer-images','returntype'=>$returntype,'savedir'=>$savedir,'filesize'=>$filesize))}','上传图片','80%','70%')"></span>
<div class="help-block">图片规格：以宽度{$thumbW}*{$thumbH}以上这个值或者是它的倍数为佳！</div>
<script type="text/javascript" src="__PUBLIC__/jqueryui/fancyBox/lib/jquery.mousewheel.pack.js?v=3.1.3"></script>
<script type="text/javascript" src="__PUBLIC__/jqueryui/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/jqueryui/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<script type="text/javascript">
    $(function(){
        $('#{$jiben.field}-layer-images .fancybox').fancybox();
    });
    /**
     * [delFiles 删除文件]
     * @param  {[type]} obj [description]
     * @return {[type]}     [description]
     */
    if(typeof delFiles != 'function'){
        function delFiles (obj,event) {
            //禁止冒泡
            event.stopPropagation();
            //删除上传的图片或者文件
            var json = $.parseJSON(unescape($(obj).attr('fileData')));
            $.post('{:U("Uploadfile/del")}', json, function(data, textStatus, xhr) {
                if(data.status){
                    $(obj).parent('.img').remove();
                } else {
                    parent.layer.msg(data.info,{icon:2,time:2000,shade: [0.3,'#000']});
                }
            });

            //移除节点
            $(obj).parent(".images_list,.files_list").remove();
        }
    }
</script>