<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="renderer" content="webkit" />    
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<link rel="stylesheet" href="__JQUERY__/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="__JQUERY__/jquery-scrollbar/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="__JQUERY__/plyr/plyr.css" />
<link rel="stylesheet" href="__REVIEW__/css/style-commons.css" />
<link rel="stylesheet" href="__REVIEW__/css/style-video.css"/>
<script type="text/javascript" src="__JQUERY__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__JQUERY__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__JQUERY__/jquery-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="__JQUERY__/plyr/plyr.js"></script>
<script type="text/javascript" src="__REVIEW__/js/base.js"></script>