<div id="J_side" class="l-side jin-side">
    <div class="jin-side_h">
        <div class="jin-side_logo">
            <a href="http://vip.mmtvzb.com/" title="顶点财经 做最好的财经直播平台" target="_blank">
                <h2>mmtvzb.com</h2>
                <h1 style="font-size:14px;"><span>做最好的财经直播平台</span></h1>
            </a>
        </div>
    </div>
    <ul class="jin-side_nav">
        <li class="jin-side_nav-item current">
            <a class="jin-side_nav-link" href="http://vip.mmtvzb.com/" target="_blank">
                <i class="jin-icon jin-icon_24tv"></i>
                <span>财经直播室</span>
            </a>
        </li>
    </ul>
    <ul class="jin-side_nav">
        <li class="jin-side_nav-item">
            <a class="jin-side_nav-link" href="http://www.topcj.com/" target="_blank">
                <i class="jin-icon jin-icon_flash"></i>
                <span>顶点财经官网</span>
            </a>
        </li>
    </ul>
    <ul id="J_menu" class="jin-side_nav">
        <li class="jin-side_nav-item J_sideNavItem">
            <a class="jin-side_nav-link" href="{:U('/vreview')}">
                <i class="jin-icon jin-icon_video"></i>
                <span>精彩回顾</span>
            </a>
        </li>
    </ul>
</div>