<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>王玺 - 猎人战队专业分析师</title>
<meta name="keywords" content="王玺 - 猎人战队专业分析师">
<meta name="description" content="王玺 - 猎人战队专业分析师">
<include file="Public:headcommon" />
</head>
<body>
<div class="warp services-team">
	<include file="Public:head" />

    <div class="s-team-main">
        <include file="Public:teaminc" />
        <div class="s-team-m-expert">
            <div class="s-team-m-e-box">
                <div class="s-team-m-e-detail s-team-m-e-d-wrapcon">
                    <div class="s-team-m-e-d-viewcon ">
                        <div class="lef expert-img01"><img src="__NEW__/images/teacherwx.png" alt=""></div>
                        <div class="rig">
                            <h3>王玺</h3>
                            <span class="zw">顶点财经 ▪ 猎人战队</span>
                            <h2>个人简介</h2>
                            <P>
                                10年投资经历。 2006开始年担任加拿大即日证券操盘公司SwiftTrader自营基金的交易员、交易经理。2008年进入国际贵金属和大宗商品市场。十年以来，三千多个日夜，坚持理论指导实践，实践升华理论，对金融市场和操盘交易有自己独到见解，对K线、道氏理论和波浪理论有着深刻理解。善于捕捉趋势性交易机会，并以多重时间架构过滤交易信号，达到“做大概率事件”和“以小博大”的交易效果。
                            </P>
                            <p>10在前人基础上，结合自身经验，创立了使自己立于不败之地的“狙击”交易战法和能够最大化利润的高阶“九宫”交易战法。</p>
                            <p><strong>投资格言：</strong>昔之善战者，先为不可胜，以待敌之可胜。不可胜在己，可胜在敌。故善战者，能为不可胜</p>
                            <!-- <p><strong>交易理念:</strong>趋势就像非洲的大草原，为我们孕育了多样的、丰富的物产和猎物！而交易就像狩猎，猎物没有出现之前，切忌打草惊蛇。不要担心错过机会，机会就像新生的小鹿，对世界充满了好奇，她们总会忍不住蹦蹦跳跳地出现。你要盯紧她们，跟踪她们，在合适的时间，合适的地点来个一击致命！螳螂捕蝉，黄雀在后，狮子的猎物有时也会被鬣狗抢走。因此，天下武功，无坚不破，唯快不破！</p> -->
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="s-team-m-list">
            <h2>狙击战法 ▪ 战法演示</h2>
        </div>
        <div class="warp home">
            <div class="mainwarp">
                <div class="main-about">
                    <div class="m-a-list">
                        <a class="arrow-left list-arwleft" href="javascript:void(0);"></a>
                        <a class="arrow-right list-arwright" href="javascript:void(0);"></a>
                        <div class="swiper-container m-a-l-container">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea_bar1.png" alt="永远、永远、永远不要忘记" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">永远、永远、永远不要忘记</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>一、我们目的是赚钱；<br>二、低买高卖是赚钱的唯一方式。<br>在我们看不懂行情的时候，敌不动我不动，待行情走出来，告诉我们方向和趋势，在回调处，行情发动第二波上涨或下跌之前，大胆顺势建仓！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>1</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea_bar2.png" alt="王玺 ▪ 狙击战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">王玺 ▪ 狙击战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>我们不是为了证明我们能够“猜到”顶部或是底部，我们也不是为了证明我们能够“猜对”行情的方向，我们的目的永远有且只有一个：赚取差价，获得利润！！！操作上，敌不动，我不动；敌未动，我先动！连续3根K线上涨或下跌就可以判定短期趋势成立，随后即可大胆建仓。投资的本质就是做大概率事件，并且能够以小的损失博取大的利润！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>2</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea_bar3.png" alt="王玺 ▪ 狙击战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">王玺 ▪ 狙击战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>交易不是赌博，交易不是猜测，交易是有其自身内在逻辑的！大到银行，小到个人，无不是通过低吸高抛达到自己赚钱的目的，这就是交易最基本的逻辑。有道是孤阴不生，孤阳不长；两人为从，三人为众。成众即成势，趋势一旦形成，就不会轻易结束，坚持顺势而为！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>3</em></i>
                                    </div>
                                </div>

                                <div class="swiper-slide m-a-l-main">
                                    <a href="javascript:;" target="_blank"><img src="__NEW__/picture/tea_bar4.png" alt="王玺 ▪ 狙击战法" style="margin-left: 1px" width="404" height="240"/></a>
                                    <div class="">
                          
                                        <h4><a href="javascript:;">王玺 ▪ 狙击战法</a>
                                        </h4>
                                        <i class="i-left"></i>
                                        <p>我们不是神，不可能洞悉市场的每一个变化。君子有所为，有所不为！世上没有完美的交易系统，盈亏同源，盈亏同源，盈亏同源，重要的事情说三遍！最后请我们永远记住：交易系统是工具，交易思想是根本，交易纪律是生命！！！</p>
                                        <i class="i-right"></i>
                                        <i class="data"><em>4</em></i>
                                    </div>
                                </div>

                            </div>
                            <div class="pagination hide"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-team-m-cp">
            <h2>狙击战法 ▪ 战绩介绍</h2>
            <div class="s-team-m-cp-mid">
                <div id="zhanji" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__NEW__/picture/score_1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/score_2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/score_3.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/score_4.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/score_5.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__NEW__/picture/score_6.jpg" alt=""></div>
                    </div>
                    <div class="swiper-pagination" style="bottom: 8px;"></div>
                </div>
            </div>
            <style>
                .swiper-container {
                    width: 100%;
                    height: 100%;
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    height: 380px;
                }
                .swiper-pagination-bullet{
                    height: 15px;
                    width: 15px;
                }
            </style>
            <div class="s-team-m-cp-bto">
                <p>昔之善战者，先为不可胜，以待敌之可胜。不可胜在己，可胜在敌。故善战者，能为不可胜。</p>
            </div>
        </div>
        <include file="Public:teacherlist" />
    </div>
<include file="Public:foot" />
</html>
