<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("index",decode($parameter))}'>权限规则</a></li>
        <li class="active">编辑规则</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form action="" method="post" id="myform" name="myform" onsubmit="return false">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 模块：</div>
                        </td>
                        <td>
                            <select name="mid" class="form-control">
                                {$rulemodule_a}
                            </select>
                            <div class="help-block">模块：用于区分权限规则在某个模块下，便于分组显示</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 名称：</div>
                        </td>
                        <td>
                            <input class="form-control" id="name" name="name" size="50" value="{$data.name}" type="text" placeholder="请输入名称">
                            <div class="help-block">例如：Zzcfadmin/Index/index</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 标题：</div>
                        </td>
                        <td>
                            <input class="form-control" id="title" name="title" size="50" value="{$data.title}" type="text" placeholder="请输入标题">
                            <div class="help-block">例如：后台首页</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">状态：</div>
                        </td>
                        <td>
                             <select name="status" class="form-control">
                                <option value="1" <eq name="data.status" value="1">selected="selected"</eq>>开启</option>
                                <option value="0" <eq name="data.status" value="0">selected="selected"</eq>>关闭</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">附件条件：</div>
                        </td>
                        <td><textarea name="condition" class="form-control" id="condition" cols="30" rows="3" placeholder="请输入附加条件">{$data.condition}</textarea>
                        <div class="help-block">例如：{score} &gt; 50 and {score} &lt; 200，满足条件才有权限</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blank15"></div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("edit")}","#myform")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">
            <i class="fa fa-chevron-circle-left"></i> 返回
        </button>
        <input type="hidden" name="siteid" value="{$data.siteid}">
        <input type="hidden" name="id" value="{$data.id}">
        <input type="hidden" name="parameter" value="{$parameter}">
    </form>
</div>