<include file="Public:head_iframe" />
<div id="breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/welcome')}"><i class="fa fa-home"></i>&nbsp;&nbsp;首页</a></li>
        <li><a href='{:U("photocate",decode($linkcate_parameter))}'>图片分类</a></li>
        <li class="active">新增分类</li>
        <div class="pull-right refresh"><a href="javascript:;" onclick="refresh()"><i class="fa fa-refresh fa-xl" title="点击刷新"></i> 刷新页面</a></div>
    </ol>
</div>
<div class="wrapper wrapper-content col-sm-12 animated fadeInRight">
    <form action="" method="post" id="myform" name="myform" onsubmit="return false">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right"><i class="fa fa-info-circle required_icon"></i> 名称：</div>
                        </td>
                        <td>
                            <input class="form-control" id="name" name="name" value="" type="text" placeholder="请输入名称">
                            <div class="help-block">例如：默认分类</div>
                        </td>
                    </tr>
                    <tr id="chicun">
                        <td class="td_add_edit">
                            <div class="text-right">图片尺寸：</div>
                        </td>
                        <td>
                            <div class="form-inline">
                                <div class="input-group">
                                    <div class="input-group-addon">宽度：</div>
                                    <input type="number" name="width" class="form-control" id="width" value="200" placeholder="请输入宽度" onkeyup="value=value.replace(/[^\d]/ig,'')">
                                </div>
                                <label>×</label>
                                <div class="input-group">
                                    <div class="input-group-addon">高度：</div>
                                    <input type="number" name="height" value="150" id="height" placeholder="请输入高度" class="form-control" onkeyup="value=value.replace(/[^\d]/ig,'')">
                                </div>
                            </div>
                        </td>
                    </tr>
                        <td class="td_add_edit">
                            <div class="text-right">描述：</div>
                        </td>
                        <td><textarea name="description" class="form-control" id="description" cols="30" rows="3" placeholder="请输入描述"></textarea></td>
                    </tr>
                    <tr>
                        <td class="td_add_edit">
                            <div class="text-right">状态：</div>
                        </td>
                        <td>
                            <select name="status" class="form-control">
                                <option value="1" selected="selected">开启</option>
                                <option value="0">关闭</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blank15"></div>
        <button type="button" class="btn btn-w-m btn-success" onclick='submitForm("{:U("photocateadd")}","#myform")'>
            <i class="fa fa-check-square-o"></i> 提交
        </button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">
            <i class="fa fa-chevron-circle-left"></i> 返回
        </button>
        <input type="hidden" name="linkcate_parameter" value="{$linkcate_parameter}">
    </form>
</div>